    #warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }

            ul {
                font-size: x-large;
		color: white;
            }
	    h1 {
		text-align: center;
		color: #007399;
		font-size: 50px;
	    }
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            h2 {
                text-align: center;
                color: white;
                font-size: 50px;
		margin: 20px;
            }
            .header {
                background-color: black;
                  padding: 50px 10px;
                  color: #007399;
                  text-align: left;
                  font-size: 30px;
                  font-weight: bold;
		  text-align: center;
                  top: 0;
                  width: 100%;
                  transition: 0.4s; 
                  max-height: 10%;
                  min-width: 73.5%;
                  float: right;
            }

            html {
                background-color: black;
            }

            p {
                text-align: left;
                color: white;
                font-size: x-large;
                font-family: Arial, Helvetica, sans-serif;
            }
            .contain div {
		padding-top: 5vw;
                padding-bottom: 5vw;
                padding-left: 5vw;
                padding-right: 5vw;
		max-height: 30%;
		background-color: black;
		margin-top: 1px;
		text-align: left;
            }
	    .contain {
		background-color: #007399;
		margin-top: 0%;
		width: 100%;
	    }
	    img {
		margin-bottom: 10px;
	    }
            .sidebara {
		background-color: black;
		padding: 20px;
		border-radius: 5px;
                height: auto;
		overflow: auto;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                margin: 0%;
                margin-top: 0%;
                margin-bottom: 0%;
		border: 1px solid #007399;
            }
            a:link {
                color: antiquewhite;
                text-decoration: none;
            }
            a:visited {
                color: antiquewhite;
                text-decoration: none;
            }
      .sidebar a{
		color: #007399;
	    }
      div.stay {
	  display: inline-block;
	  top: 0;
	  margin-top: 2vw;
		float: left;
		position: fixed;
	    }
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.sidebar a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover, .sidebar a:focus {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .sidebar a {font-size: 20px}
  .sidebar .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.float {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #007399;
    margin-left: 10px;
    top: 0;
    min-height: 10%;
    max-height: 10%;
    font-size: 30px;
  background-color: rgba(100, 100, 100, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.closebtn {
    border-radius: 12px;
    text-align: center;
    width: 4vw;
    height: 4vw;
    background-color: rgba(80, 150, 200, 0.4);
    border: 5px solid #007399;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

@media only screen and (max-width: 600px) {
    .float {
	display: none;
    }
    .stay {
	display: none;
    }
    
}

@media only screen and (min-width: 600px) {
    .mobile {
	display: block;
    }
}
