div {
	display: inline-block;
}

#first {
	/*border-radius: 20px;*/
	/*/*background: rgba(255, 255, 255, 0.15);*/
	/*/*backdrop-filter: blur(2px) saturate(180%);*/
	/*border-radius: 2rem;*/
	/*box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), */
	/*	inset 0 4px 20px rgba(255, 255, 255, 0.3);*/
	margin-top: 10px;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: #212121;
	/*background: white;*/
	color: #e8e8e8;
	cursor: none;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
		font-style: normal;
	font-variation-settings:
		"wdth" 100;
}

p,li {
	margin: 10px;
	font-size: 30px;
}

#name {
	width: 40%;
	text-align: center;
}

.topnav {
	width: 100%;
	backdrop-filter: blur(10px) saturate(180%);
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color: rgba(53,53,53,0.9);
	border-bottom: 1px solid #535353;
}

a.a {
	color: #645bff;
	text-decoration: none;
}

a.a {
	background: 
		linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
		linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
	background-size: 100% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}

a.a:hover,
a.a:focus {
	background-size: 0 0.1em, 100% 0.1em;
}

.topnav a {
	z-index: 10;
	float: left;
	margin: 5px;
	display: block;
	color: #a8a8a8;
	text-align: center;
	transition: 0.2s color;
	/*padding: 14px 16px;*/
	text-decoration: none !important;
	/*font-size: 17px;*/
}

.box {
	padding: 66px;
	/*height: 500px;*/
}

.line {
	margin: 10px;
	border-bottom: 1px solid #535353;
}

.mejpeg {
	background: url("me.jpeg");
	background-size: cover;
	z-index: 2;
	/*height: auto;*/
	width: 100%;
	border-radius: 20px;
}

.glass {
	padding: 20px;
	/*text-align: justify;*/
	/*margin: auto;*/
	z-index: -1;
	width: 50%;
	border-radius: 20px;
	/*/*background: rgba(255, 255, 255, 0.15);*/
	/*/*backdrop-filter: blur(2px) saturate(180%);*/
	border-radius: 2rem;
	box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
		inset 0 4px 20px rgba(255, 255, 255, 0.3);
	margin-left: 10px;
	margin-right: 10px;
}

.right {
	float: right;
}

.text {
	/*width: 40%;*/
	padding: 20px;
	text-align: left;
	/*margin-left: 20px;*/
	font-size: 70px;
}

.content {
	width: 50%;
	padding: 20px;
	/*text-align: justify;*/
	margin: auto;
	z-index: -1;
	/*height: 500px;*/
}

.left {
	float: left;
}

.topnav a:hover {
	/*background-color: #ddd;*/
	color: white;
}

.topnav a.active {
	/*background-color: #04AA6D;*/
	/*border-radius: 20px;*/
	float: right;
	/*color: white;*/
}

.topnav a.name {
	font-family: Chomsky;
}

.topnav .icon {
	display: none !important;
}

@media screen and (max-width: 800px) {
	.topnav a {display: none;}
	.topnav .icon {
		float: right;
		margin: 5px;
		display: block !important;
	}
	.box {
		padding-top: 4px;
		padding-left: 2px;
		padding-right: 2px;
		padding-bottom: 0;
	}
	.text {
		font-size: 40px;
		width: 100%;
		text-align: left;
		padding: 5px;
	}
	.content {
		padding: 2px;
		width: auto;
	}
	.right {
		float: left;
	}
	#name {
		width: 100%;
		text-align: center;
	}
	.glass {
		width: auto;
	}
	#first {
		padding: 2px !important;
	}
}

@media screen and (max-width: 800px) {
	.topnav.responsive {
		position: sticky;
	button {
		display: block;
	}
	}
	.topnav.responsive .icon {
		position: absolute;
		font-size: 20px;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: inline-block;
		text-align: left;
	}
}

.activebutton {
	--primary-color: #645bff;
	--secondary-color: #fff;
	--hover-color: #000021;
	--arrow-width: 10px;
	--arrow-stroke: 2px;
	box-sizing: border-box;
	border: 0;
	border-radius: 20px;
	color: var(--secondary-color);
	padding: 1em 1.8em;
	background: var(--primary-color);
	display: flex !important;
	transition: 0.2s background;
	align-items: center;
	gap: 0.6em;
	color: white;
	font-weight: bold;
}

.activebutton .arrow-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.activebutton .arrow {
	margin-top: 1px;
	width: var(--arrow-width);
	height: var(--arrow-stroke);
	position: relative;
	transition: 0.2s;
}

.activebutton {
	background: var(--primary-color);
}

.activebutton .arrow::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	border: 1px solid var(--primary-color);
	border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
	/*background: #fff;*/
	display: inline-block;
	top: -3px;
	right: 3px;
	transition: 0.2s;
	padding: 3px;
	transform: rotate(-45deg);
}

.activebutton:hover {
	background-color: var(--hover-color);
}

.arrow {
	background: var(--primary-color) !important;
}

.activebutton:hover .arrow:before {
	right: 0;
}

button {
	--primary-color: #645bff;
	--secondary-color: #fff;
	--hover-color: #111;
	--arrow-width: 10px;
	--arrow-stroke: 2px;
	box-sizing: border-box;
	border: 0;
	border-radius: 20px;
	padding: 1em 1.8em;
	background: none;
	transition: 0.2s color;
	align-items: center;
	gap: 0.6em;
	font-weight: bold;
}
