html {
    background-color: #24283b;
}

* {
    font-weight: bold;
    color: #7aa2f7;
}

p {
    /*color: #a9b1d6;*/
    color: #e8e8e8;
}

.sidebara {
    background-color: black;
    padding: 20px;
    position: sticky;
    top: 0;
    /*border-radius: 5px;*/
    height: auto;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background: rgba(36, 40, 59, 0.5);
    backdrop-filter: blur(10px) saturate(180%);
    /*border: 1px solid rgba(255, 255, 255, 0.8);*/
    /*border-radius: 2rem;*/
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
	inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
.sidebar a{
    color: #007399;
}

span {
    color: white;
    transition: 0.5s;
    font-size: 50px;
}

span:hover {
    color: #7aa2f7;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(36, 40, 59, 0.5);
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.sidebar a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover, .sidebar a:focus {
    color: #7aa2f7;
}

.sidebar .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .sidebar a {font-size: 20px}
    .sidebar .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
    }
}

.stay {
    position: sticky;
    display: flex;
    z-index: 1;
    top: 0;
    background: rgba(36, 40, 59, 0.5);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
	inset 0 4px 20px rgba(255, 255, 255, 0.3);
    padding: 10px;
    backdrop-filter: blur(10px) saturate(180%);
}

.menubutton {
    width: 100px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
	inset 0 4px 20px rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 50px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 50px;
}

.small {
    width: 50%;
    margin: auto;
    font-size: 30px;
}

.box {
    /*width: 50%;*/
    margin: auto;
    height: 500px;
    /*border-radius: 10px;*/
    padding: 20px;
    background: rgba(36, 40, 59, 0.5);
    backdrop-filter: blur(10px) saturate(180%);
    /*border: 1px solid rgba(255, 255, 255, 0.8);*/
    /*border-radius: 2rem;*/
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
	inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

#iot {
    background-image: url("iot.jpeg");
    background-size: cover;
}


#ai {
    background-image: url("ai.jpeg");
    background-size: cover;
}

#p2p {
    background-image: url("p2p.jpeg");
    background-size: cover;
}

#speed {
    background-image: url("speed.jpeg");
    background-size: cover;
}
